<div class ="modal-dialog" >
	<div class= "modal-content">
		<div class "modal-header">

			<h3>Delele User</h3>
		</div>

		<div class="modal-body">
			<u1 class="errors"></u1>
			Confirmation delete<b><%= @user.username %></b>?
		</div>

		<div class="modal-footer">
			<%= link_to "Yes", user_path(@user), method: :delete, remote: true class: "btn btn-danger" %>
			<%= link_to "No" "#" class: "btn btn-default", data: {dismiss: "modal" } %>
		</div>
	</div>
</div>
